<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #recepient {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recepient td, #recepient th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recepient tr:nth-child(even){background-color: #f2f2f2;}

#recepient tr:hover {background-color: #ddd;}

#recepient th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
    </style>
    <title>Document</title>
</head>

<body>
    <h1 style="color: green;text-align:center;text-decoration:underline">DONATIONS BENEFICIARIES</h1>
    <a href="/recepients-view/export"><button style="height: 40px; width:180px; background-color:#04AA6D; border: none; border-radius: 8px; color: white; font-weight: bold;">Download csv file</button></a><br><br>

    <% if (action == 'add') { %>
     
        <% } else{ %>
            <table id="recepient">
                
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>National ID</th>
                        <th>Donations</th>
                        <th>Number Issued</th>
                        <th>Family Size</th>
                        <th>Region</th>
                        
                    </tr>
                <% if (recData.length> 0) { 
                    recData.forEach(data => {
                    
                    %>
                    <tr >
                        <td><%= data.firstName%></td>
                        <td><%= data.lastName%></td>
                        <td><%= data.national_Id%></td>
                        <td><%= data.orders%></td>
                        <td ><%= data.totalNo %></td>
                        <td ><%= data.familySize %></td>
                        <td ><%= data.region %></td>
                    </tr>
                    <%
                    });
                 } else{ %>
                    <tr><td>No Data found</td></tr>
                <% } %>
    
            </table>
        <% } %>

</body>
</html>